<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="TodoistWidget"
    Publisher="CN=TodoistWidgetDev"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Todoist Widget</DisplayName>
    <PublisherDisplayName>TodoistWidgetDev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">

      <uap:VisualElements
        DisplayName="Todoist Widget"
        Description="Windows 11 widget for Todoist tasks"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="TodoistWidget.exe"
              Arguments="-RegisterProcessAsComServer"
              DisplayName="Todoist Widget Provider">
              <com:Class Id="E7A4B53C-1F8D-4D2A-9C6E-3B5A8D2F1E70"
                DisplayName="TodoistWidgetProvider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            DisplayName="Todoist Widget"
            Id="TodoistWidgetApp"
            PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\StoreLogo.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="E7A4B53C-1F8D-4D2A-9C6E-3B5A8D2F1E70" />
                </Activation>
                <Definitions>
                  <Definition
                    Id="Todoist_Tasks_Widget"
                    DisplayName="Todoist Gorevlerim"
                    Description="Bugunun gorevleri ve geciken gorevler">
                    <Capabilities>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\WidgetIcon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot
                          Path="Assets\WidgetScreenshot.png"
                          DisplayAltText="Todoist gorev listesi widget onizlemesi" />
                      </Screenshots>
                      <DarkMode />
                      <LightMode />
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
